<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="css/about.css">
  <title>Hello, world!</title>
</head>

<body>
  <!-- nabvar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <!-- <a class="navbar-brand logo" href="/">DayCare</a> -->
      <a class="navbar-brand " href="/">
        <img class="logo" src="image/Home images/care.png" alt="" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active navFont" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navFont" href="/serviceproviders">Service Providers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navFont" href="/about">About US</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navFont" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/suParent">As a Parent</a></li>
              <li><a class="dropdown-item" href="/suServiceProvider">Want to be a Service Provider?</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid ">
    <div class="row mt-4  justify-content-evenly">
      <div class="col-8 about">
        Right now we Normal people are living a normal busy life in our daily basis. All parents are busy with their
        work .There’s not enough
        time for them to give proper time for their children. Plus they have to go through
        in a lot of trouble finding the right person for their children.
        So, our target is to solve these types of problems. Using our website anyone can
        find our available person whom they will think is good for them with the full
        details of that person. It will erase their extra pain to find them randomly. <br><br>

        Our website will be a new way for two kinds of
        people. For the one who needs the help of Caregiver and for the Caregiver. On the other hand babysitters also
        can register in our website if they are looking for a job. Both
        side can get help for their target. The website will be designed in a very simple
        way so that anyone can understand easily . <br><br>

        Your security is our priority. So our main focus is your basic securities. That's why we added so many options in the registration. So that we can varify every person properly with their full details.
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

 <script>
 
 </script>
</body>

</html>